body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    width: 750px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 6px;
    flex: 1;
}

button {
    padding: 6px 10px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.success { color: green; }
.error { color: red; }
